:root{
    --primary-color: 
    #2563EB;
    --secondary-color:#1F2937;

}

.navigation{
    background: var(--primary-color);
    color: rgb(227, 241, 241);
    padding: 3rem;
    border-bottom-left-radius: 1rem;
    margin: 1rem;
    
}
.nav-brand{

    color: var(--primary-color);
}
.menu-class{
    display: flex;
    padding: 0.1rem;
    list-style: none;
    float:right;     
    background-color: black;
}

.list-item-inline {
border: 2px solid red;
display: inline;
padding: 1rem;
margin: 1px;

}
.container{
    padding-left: 1rem;
    padding-right: 1rem ;
}

 .list-item-inline{
     display: inline;
     padding: 1px;
     text-decoration: none;
 }   

.image{

    /* height: 300px; */
    padding: 1rem;
    margin: 1rem;
    
}
.image .image-class{
    max-width: 450px;
    display: block;
    margin: auto;
    
}
.image .heading{
    text-align: center;
    color: var(--secondary-color);
    padding-top: 1rem;
}
.image  .heading .heading-inverted{
    color: var(--primary-color);
}
.section-tech{
    /* max-width: 1200px; */
    height: 20vh;
    margin-top: 1rem;
    padding:1rem;
    text-align: center;
    background-color:#D1D5DB;
}
.section-tech .section-header{
    color: var(--primary-color);
}
.section-tech .section-paragraph{
    color: var(--secondary-color);
}

}
.sections-project {
    height: 10vh;
    margin-top: 10rem;
    margin: auto;
    /* text-align: center; */
    color:rgb(145, 224, 42);
    border: 2px solid rgb(89, 0, 255);
    background-color: cornsilk;
}
.sections-project .project-header{
  color: var(--primary-color);
}

.sections-project .project-paragraph{
    color: black;
}
.sections-project .btn-class{
    background-color: var(--primary-color);
    box-shadow: 2px solid lightblue;
    border-radius: 5px;
    padding-bottom: 0rem;
}
.section-blog{
    height: 40px;
    margin-top: 10px;
    text-align: center;
    background-color: brown;
}

.connect{
    text-align: center;
    height: 30px;
    margin-top: 15px;
    background-color: darkcyan;
}
.linked{
    list-style: none;
}